# EGD103 Lecture 1 - Introduction to Python Programming in JupyterLab
In this lecture, we explore introductory Python programming within the JupyterLab programming environment. By the end of the class, you should feel comfortable using Python as a calculator by entering single-line mathematical expressions.

In [ ]:
# hello

## Evaluating Expressions
We will start by typing some simple expressions into Python using mathematical operators.
| Operator | Description |
| ----------- | ----------- |
| + | Addition |
| - | Subtraction |
| * | Multiplication |
| / | Division |
| // | Floored division |
| ** | Exponentiation |
| % | Remainder/modulus |

In expressions with multiple operators, it is important for you to understand the order of operations. A full list for Python is provided here: https://docs.python.org/3/reference/expressions.html#evaluation-order.

In [1]:
# subtraction example
3 - 4

-1

In [2]:
# multiplication example
4 * 2

8

In [3]:
# exponentiation example
5 ** 2

25

In [4]:
# some more examples (in class)
9 / 2

4.5

In [5]:
# divide and round down
9 // 2

4

In [6]:
# find remainder after division
9 % 2

1

In [7]:
# order of operations is important - BOMDAS
3 + 4 * 2

11

In [8]:
# use brackets to control order of operations
(3 + 4) * 2

14

## Comments
You may have noticed that the previous examples contained comments. Comments are sections of code that are not exectuted by a program. Their purpose is to be read by humans, and are helpful in making code easier to understand.

In python, we comment by using the `#` symbol.

In [ ]:
# This is an example comment. Nothing will be output when running this, since it contains no Python commands.

In [9]:
This is an example comment. Nothing will be output when running this, since it contains no Python commands.

SyntaxError: invalid syntax (1942356145.py, line 1)

## Calling functions
A function is a named block of code that can be executed by supplying input information (called arguments).

The general syntax for calling a function is: `function_name(argument)`. 

In the event a function has multiple inputs, they are separated by commas `function_name(argument1, argument2, ..., argumentN)`.

Base Python has relatively few functions built in - only 68!. A full list can be found here: https://docs.python.org/3/library/functions.html.

Some useful functions to get started with are given below.
| Function | Description |
| ----------- | ----------- |
| `abs` | Finds the absolute value of the argument |
| `round` | Rounds first argument |
| `max` | Outputs the largest argument |
| `min` | Outputs the smallest argument |
| `sum` | Adds all arguments |
| `print` | Prints object  |
| `help` | Get help documentation for a function/module/class/method/keyword |

In [10]:
# example function call with 1 input
abs(-10)

10

In [11]:
# example function call with multiple inputs
max(5, 2, 3, 9, 0)

9

In [12]:
# an example that violates laws of calling a function
abs[-10]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [13]:
# using the help function for insight on how to use the round function
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [14]:
round(10.123)

10

In [15]:
# round to two decimal places
round(10.123, 2)

10.12

## Importing modules and examples using the math module
We are able to gain access to more functions by importing modules. The syntax for importing a module is:
`import module_name`

Once imported, you can call functions within that module. The syntax for this is: `module_name.function_name(arguments)`.

We will begin by looking at the `math` module. The math module contains the functions you'd expect to find on a scientific calculator, such as elementary functions (eg. $\sin$, $\cos$, $\tan$, $\exp$, $\log$). Documentation is available here: https://docs.python.org/3/library/math.html.

In [16]:
import math

In [17]:
# Evaluating sin(45)
math.sin(45)

0.8509035245341184

In [18]:
sin(45)

NameError: name 'sin' is not defined

In [19]:
# Is the argument in degrees or radians? We can look at the help documentation.
help(math.sin)

Help on built-in function sin in module math:

sin(x, /)
    Return the sine of x (measured in radians).

In [24]:
# How can we convert between degrees and radians?
# Convert radians to degrees
(45 * 180 / math.pi)  % 360

58.31007808870436

In [25]:
# Convert radians to degrees
math.degrees(45) % 360

58.31007808870436

### Activity 1: Using Python as a calculator
Try using Python and the math module to calculate the values for the following mathematical expressions.
1. $\sin^2(1) + \cos^2(1)$
2. $\log_{10}(100)$
3. $-3 + \cfrac{\sqrt{3^2 - 4 \times 1 \times 2}}{2 \times 2}$

In [26]:
# insert Q1 answer here
math.sin(1) ** 2 + math.cos(1) ** 2

1.0

In [28]:
# insert Q2 answer here
help(math.log)
math.log(100, 10)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base is not specified, returns the natural logarithm (base e) of x.

2.0

In [29]:
# insert Q3 answer here
-3 + math.sqrt(3**2 - 4 * 1 * 2) / (2 * 2)

-2.75

## Errors
When programming, you are bound to make errors at some point. It is important that you are able to troubleshoot your code to identify and remove these errors. There are three main types of errors: syntax errors, runtime errors and semantic errors.

**Syntax errors:** caused when code does not abide by the rules of the language. Python will do a syntax check for an entire code cell before attempting to run the code.

**Runtime errors:** caused while running the code. The language is correct, but an answer cannot be computed for the task that was given (eg. divide by zero error).

**Semantic errors:** caused when code runs, but the instructions are incorrect.

Python will pick up syntax errors and runtime errors for you. Semantic errors will often go undetected, so it important to have sound practices in place to help detect semantic errors (eg. using test cases to verify whether your code can perform tasks correctly).

In [30]:
# Syntax error example
1 + 2 + ...... + 10

SyntaxError: invalid syntax (2933559900.py, line 2)

In [31]:
# Runtime error example
cos(2)

NameError: name 'cos' is not defined

In [32]:
# Semantic error for trying to solve three squared
3 ^ 2

1

### Activity 2: Errors
Run the code cells below. Based on the output, try to explain why the error is occuring.

In [33]:
1 + 2 = 3

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2840796363.py, line 1)

In [34]:
1 + 2 == 3

True

In [35]:
6 / (5 * 2 - 10)

ZeroDivisionError: division by zero

In [36]:
math.log(-1)

ValueError: math domain error